
<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Pizza Spring - kreator</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Stwórz swoją pizze!</h1>
<img th:src="@{/images/pizzaspring.png}"/>

<form method="POST" th:object="${newPizza}">

    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}"
          th:errors="*{ingredients}">Ingredient Error</span>

  <div class="grid">
    <div class="ingredient-group" id="base">
      <h3>Wybierz spód:</h3>
      <div th:each="ingredient : ${base}">
        <input name="base" type="radio" th:value="${ingredient.id}" />
        <span th:text="${ingredient.name}">INGREDIENT</span>
        <span th:text="${ingredient.price}">INGREDIENT</span><br/>
      </div>
    </div>

    <div class="ingredient-group" id="cheeses">
      <h3>Wybierz ser:</h3>
      <div th:each="ingredient : ${cheese}">
        <input name="cheese" type="radio" th:value="${ingredient.id}" />
        <span th:text="${ingredient.getName()}">INGREDIENT</span>
        <span th:text="${ingredient.getPrice()}">INGREDIENT</span><br/>
      </div>
    </div>

    <div class="ingredient-group" id="toppings">
      <h3>Wybierz dodatki:</h3>
      <div th:each="ingredient : ${toppings}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
        <span th:text="${ingredient.name}">INGREDIENT</span>
        <span th:text="${ingredient.price}">INGREDIENT</span><br/>
      </div>
    </div>

    <div class="ingredient-group" id="sauces">
      <h3>Wybierz sos:</h3>
      <div th:each="ingredient : ${sauce}">
        <input name="sauces" type="radio" th:value="${ingredient.id}" />
        <span th:text="${ingredient.name}">INGREDIENT</span>
        <span th:text="${ingredient.price}">INGREDIENT</span><br/>
      </div>
    </div>
  </div>

  <div>


    <h3>Nazwij swoją pizze:</h3>
    <input type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">Name Error</span>
    <br/>

    <button>Zatwierdź pizze</button>
  </div>
</form>
</body>
</html>
